*{
    /* width: 100%; */
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
}
html{
    scroll-behavior: smooth;
}
header{
    margin: auto;
}
/*imagen*/
.containers{
    margin-bottom: 5%;
}
.hero{
    height: 50vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-image: url("../img/760bffe3515c3ffe28bffa8cad4978aa.jpg");
}
.hero img{
    width: 100%;
    object-fit: contain;
}
/*menu*/
.menubar{
    width: auto;
    background-color: transparent;
    /* text-align: end; */
    position: absolute;
    /* margin-left: 60%; */
    display: flex;
    align-items: center;
    z-index: 1;
    align-content: center;
    /* justify-content: flex-end; */
    margin: 10px 25px;
}
.menubar ul{
    list-style: none;
    font-size: 20px;
    padding-left: 50px;
}
.menu > li{
    position: relative;
    display: inline-block;
}
.menu > li >a{
    display: block;
    padding: 15px 20px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.menu li a:hover{
    color: aquamarine;
    transition: all .3s;
}
/*submenu*/
.submenu{
    position: absolute;
    background: rgba(0, 0, 0, 0.527);
    width: 130%;
    margin-left: 10px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s;
    text-align: justify;
}
.submenu li a{
    display: block;
    padding: 10px;
    color: black;
    text-decoration: none;
}
.menu li:hover .submenu{
    visibility: visible;
    opacity: 1;
    z-index: 2;
}
/*nombre*/
.nombre{
    box-shadow: 2px 2px 7px 1px #d3c0ba;
    /*width: 15%;
    height: 12%;*/
    background-color: rgba(242, 246, 250, 0.26);
    padding: 10px;
}
.nombre h1{
    font-size: 35px;
}
.nombre h2{
    font-size: 25px;
}
/*perfil*/
.perfil{
    position: relative;
    display: flex;
    margin: auto;
    justify-content: center; 
}
.imgperfil{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border-style: solid;
    border-color: black;
    position: absolute;
    top: -120px;
}
.acercade{
    position: relative;
    margin-top: 7%;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 70px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: space-around;
}
h1{
    display: flex;
    justify-content: center;
    font-size: 30px;
}
/*Experiencia*/
article{
    margin: auto;
    /* background: #D8D8D8;
    background: -moz-linear-gradient(top, #D8D8D8 0%, #FFFBEB 25%, #FFFFFF 100%);
    background: -webkit-linear-gradient(top, #D8D8D8 0%, #FFFBEB 25%, #FFFFFF 100%);
    background: linear-gradient(to bottom, #D8D8D8 0%, #FFFBEB 25%, #FFFFFF 100%);    */ 
    justify-content: center;
    align-items: flex-start ;
    flex-direction: column;
}
.experiencia{
    /*display: flex;*/
    margin-top: 20%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 300px;
    padding-top: 30px;

    opacity: 0;
    transition: 0.5s ease-in-out all;
}
div.visible{
    opacity: 1;
}
/*Educacion*/
.educacion{
    margin: auto;
    /* background: #D8D8D8;
    background: -moz-linear-gradient(top, #D8D8D8 0%, #FFFBEB 25%, #FFFFFF 100%);
    background: -webkit-linear-gradient(top, #D8D8D8 0%, #FFFBEB 25%, #FFFFFF 100%);
    background: linear-gradient(to bottom, #D8D8D8 0%, #FFFBEB 25%, #FFFFFF 100%); */
    margin-top: 20%;
    padding-top: 30px;
    padding-left: 5%;
    padding-right: 5%;
    /*margin-left: 15%;
    margin-right: 15%;*/
    margin-bottom: 300px;
    
    opacity: 0;
    transition: 0.5s ease-in-out all;
}
/*Skills*/
.skill{
    margin: auto;
    /* background: #D8D8D8;
    background: -moz-linear-gradient(top, #D8D8D8 0%, #FFFBEB 25%, #FFFFFF 100%);
    background: -webkit-linear-gradient(top, #D8D8D8 0%, #FFFBEB 25%, #FFFFFF 100%);
    background: linear-gradient(to bottom, #D8D8D8 0%, #FFFBEB 25%, #FFFFFF 100%); */
    margin-top: 20%;
    padding-top: 30px;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 300px;
    
    opacity: 0;
    transition: 0.5s ease-in-out all;
}
.skills .container {
    width: 100%; /* Full width */
    background-color: #ddd; /* Grey background */
}
.skills{
    text-align: right; /* Right-align text */
    padding-top: 10px; /* Add top padding */
    padding-bottom: 10px; /* Add bottom padding */
    color: white; /* White text color */
    border-style: solid;
    border-color: #808080;
} 
.html {width: 100%; background-color: #04AA6D;} /* Green */
.css {width: 100%; background-color: #2196F3;} /* Blue */
.js {width: 70%; background-color: #f44336;} /* Red */
.pyton {width: 20%; background-color: #808080;} /* Dark Grey */
/*Proyecto*/
.proyecto{
    margin: auto;
    /* background: #D8D8D8; */
    /* background: -moz-linear-gradient(top, #D8D8D8 0%, #FFFBEB 25%, #FFFFFF 100%);
    background: -webkit-linear-gradient(top, #D8D8D8 0%, #FFFBEB 25%, #FFFFFF 100%);
    background: linear-gradient(to bottom, #D8D8D8 0%, #FFFBEB 25%, #FFFFFF 100%); */
    margin-top: 20%;
    padding-top: 30px;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 300px;

    opacity: 0;
    transition: 0.5s ease-in-out all;
}
/*contacto*/
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}
.button {
    border-radius: 4px;
    background-color: #30a021;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 12px;
    width: 130px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}
  
.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  
.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
  
.button:hover span {
    padding-right: 25px;
}
  
.button:hover span:after {
    opacity: 1;
    right: 0;
}
/* Add a background color and some padding around the form */
.container {
    border-radius: 5px;
    padding: 20px;
}
.contacto{
    margin: auto;
    /* background: #D8D8D8;
    background: -moz-linear-gradient(top, #D8D8D8 0%, #FFFBEB 25%, #FFFFFF 100%);
    background: -webkit-linear-gradient(top, #D8D8D8 0%, #FFFBEB 25%, #FFFFFF 100%);
    background: linear-gradient(to bottom, #D8D8D8 0%, #FFFBEB 25%, #FFFFFF 100%); */
    margin-top: 20%;
    padding-top: 30px;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 100px;
    
    opacity: 0;
    transition: 0.5s ease-in-out all;
}
/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  /* The actual popup (appears on top) */
  .popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class when clicking on the popup container (hide and show the popup) */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }
/*pie*/
.pie{
    width: 100%;
    background-color: #2196F3;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
}
.redes{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    align-content: center;
    flex-wrap: nowrap;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}
.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
    background: #3B5998;
    color: white;
}
.fa-twitter {
    background: #55ACEE;
    color: white;
}
.fa-linkedin {
    background: #007bb5;
    color: white;
}
.fa-instagram {
    background: #125688;
    color: white;
}
/*ajustando ver. desktop*/
@media (min-width: 700px) and (orientation: landscape) {
    h1{
        font-size: 40px;
    }
    .menubar{
        margin-left: 50%;
    }
    .imgperfil{
        top: -190px;
    }
    .acercade{
        margin-left: 20%;
        margin-right: 20%;
    }
    .experiencia{
        margin-left: 20%;
        margin-right: 20%;
    }
    .skill{
        padding-left: 20%;
        padding-right: 20%;
    }
    .educacion{
        padding-left: 20%;
        padding-right: 20%;
    }
    .proyecto{
        padding-left: 20%;
        padding-right: 20%;
    }
    .contacto{
        padding-left: 20%;
        padding-right: 20%;
    }
    .hamburguesa{
        visibility: hidden;
    }
    .modal-content{
        width: 30%;
    }
}
/*ajustamos ver. mobile*/
@media screen and (max-width: 850px){
    .menu{
        visibility: hidden;
    }
    .modal-content{
        width: 80%;
    }
}